@import  '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import 'variables.scss';
body{
    font-family: 'Rubik', sans-serif;
    color: var(--body-color);
    background-color: var(--theme-base);
}
input{
    color: inherit;
}
.appContainer{
    max-width: 1440px;
    padding:0rem 2rem 3rem;
    margin:auto;

    @media screen and (max-width:768px) {
        padding: 0rem 1rem 3rem;
    }
}
.button-second{
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid var(--theme-second);
    border-radius: 0.5rem;
    color:var(--theme-second);
    background-color: var(--theme-second);
    font-size: 1rem;
    padding:0.5rem 1rem;
    background-image:linear-gradient(var(--theme-base),var(--theme-base));
    background-size: 100% 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    transition: background-size .2s, color .5s;
    background-position: 50% 50%;

    @media (hover:hover){
        &:hover{
            background-size: 0px 0px;
            color: var(--theme-base);
        }
    }

    &.active {
        background-size: 0px 0px;
        color: var(--theme-base);
    }
}
.button-prime{
    @extend .button-second;
    border: 2px solid var(--theme-accent);
    color: var(--theme-accent);
    background-color: var(--theme-accent);
}
