@import  '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import 'variables.scss';
body{
    font-family: 'Rubik', sans-serif;
    color: rgb(114, 114, 114);
}
.appContainer{
    max-width: 1440px;
    padding: 3rem 2rem;
    margin:auto;
}
