.home{
    font-size: 30px;
}

.currentDay{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    @media screen and (max-width: 768px){
        display: block;
    }

}

.loaderWrapper{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}