.dayInfoWrapper{
    border:var(--border-second);
    padding: 2rem;
    border-radius: 0.5rem;
    flex-grow: 2;
}

.parameter{
    display: flex;
    align-items: center;
    font-size: 1rem;
    
    

    .nameWrapper{
        display: flex;
        align-items: center;
    }

    .logo{
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: var(--theme-accent);
    }

    .name{
        color: var(--theme-accent);
        margin: 0 1rem 0 0;
    }


    @media screen and (max-width: 500px){
        display: block;

        .description{
            margin-left: 2.5rem;
            margin-top:0;
        }
    }
 
}