.componentWrapper{
    border-radius: 0.5rem;
    border: var(--border-second);
    overflow-x: scroll;
    font-size: 1rem;
}


.table{
    border-collapse: collapse;
}

.information{
    vertical-align: top;
    text-align: center;

    .time{
        text-align: center;
        padding: 0.2rem;
        padding-top: 1rem;
        color:var(--theme-accent);
        font-size: 1.2rem;
    }
}
.aboveZero{
    vertical-align: bottom;
   

    .wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 2rem;
       
    }
    
    .column{
        background-color: var(--theme-second);
        border-radius: 0.2rem;
    }
}
.temp{
    text-align: center;
    color:var(--theme-accent);
}

.belowZero{
    vertical-align: top;

    .wrapper{
        padding-bottom: 2rem;
    }
    .column{
        background-color: var(--theme-accent);
        border-radius: 0.2rem;
    }
}

.uvi{
    word-break: keep-all;
    text-align: center;

    span{
        font-size: 0.8rem;
    }
}
.parameters{
    vertical-align: bottom;
    text-align: center;
    .parametersWrapper{
        padding:0.5rem;
    }

    .weatherIcon{
        width: 4rem;
        height: 4rem;

        object{
            width: 4rem;
            height: 4rem;
        }
    }
}