.daysWrapper{
    display: flex;
    overflow-x: scroll;

    & > *{
        flex-grow: 1;
    }

}

.detailedForecatsLink{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    a{
        text-decoration: none;
    }
}


