.dayWrapper{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    border-radius: 0.5rem;
    border: var(--border-prime);
    background-image: var(--theme-prime);
    background-blend-mode: var(--background-blend-mode);
    padding: 1rem;
    min-width: 8rem;
    margin-right: 1rem;
    &:last-child{
        margin-right: 0;
    }

    p{
        margin:0.1rem 0;
        font-size: 1rem;
        color: var(--text-prime);
    }

    .day{
        color:var(--text-second);
        font-size: 1.5rem;
    }

    .dayTemperature{
        color:var(--text-second);
        font-size: 1.5rem;
    }

    .logo{
        width: 4rem;
        height: 4rem;
    }
}

