.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.appNameWrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 4rem;
    height: 4rem;
    object{
        width: 4rem;
    }
}
.appName{
    font-size: 2rem;
    font-weight: 600;
    color: var(--theme-accent);
    margin:0.5rem;
}
.settings{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}